.article {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  background-color: #f2f2f2;
}

.article__title {
  position: relative;
  margin: 0;
  padding: 15px 0;
  padding-left: 70px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
}

.article__title::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
}

.article__title--slim::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 35px;
  height: 50px;
  background: url(../../img/icon-cat-slim.svg) no-repeat;
}

.article__title--pro::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -10px;
  width: 67px;
  height: 28px;
  background: url(../../img/icon-cat-pro.svg) no-repeat;
}

.article__to-catalog {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 20px 0;
  padding-right: 37px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
  border-top: 1px solid #d9d9d9;
}

.article__to-catalog::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 100px;
  width: 25px;
  height: 12px;
  background: url(../../img/icon-right-arrow-long.svg) no-repeat;
}

.article__to-catalog:hover::before,
.article__to-catalog:focus::before {
  width: 34px;
}

.article__to-catalog:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .article {
    width: 708px;
    margin-bottom: 30px;
    padding: 80px 285px 60px 50px;
  }

  .article:nth-child(2) {
    padding-right: 316px;
  }

  .article__title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 37px;
  }

  .article__title::before {
    top: 10px;
    left: 410px;
    width: 200px;
    height: 200px;
    background: #68b738;
    border-radius: 50%;
  }

  .article__title--slim::after {
    top: 10px;
    left: 450px;
    width: 141px;
    height: 194px;
  }

  .article__title--pro::after {
    top: 50px;
    left: 370px;
    width: 268px;
    height: 113px;
  }

  .article__desc {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .article__to-catalog {
    padding-right: 50px;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  .article__to-catalog::before {
    left: 120px
  }
}

@media (min-width: $desktop-width) {
  .article {
    width: 570px;
    margin-bottom: 80px;
    margin-left: 80px;
    padding: 40px 50px;
  }

  .article:nth-child(2) {
    padding-right: 50px;
  }

  .article__title {
    padding: 30px 0;
    padding-left: 164px;
    margin-bottom: 45px;
    font-size: 36px;
    line-height: 37px;
  }

  .article__title::before {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #68b738;
    border-radius: 50%;
  }

  .article__title--slim::after {
    top: 0;
    left: 20px;
    width: 71px;
    height: 97px;
  }

  .article__title--pro::after {
    top: 20px;
    left: -20px;
    width: 134px;
    height: 57px;
  }

  .article__desc {
    margin-bottom: 15px;
  }
}
