.box {
  position: relative;
  min-width: 125px;
  min-height: 55px;
  margin: 0;
  margin-bottom: 32px;
  padding: 13px 5px;
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  text-align: center;
}

.box__main {
  margin: 0;
  padding: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.box__sub {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 87px;
  margin: 0;
  margin-left: -43px;
  padding: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .box {
    min-width: 162px;
    margin-left: 42px;
    padding: 18px 5px;
    padding-top: 15px;
  }

  .box__main {
    font-size: 30px;
    line-height: 37px;
  }

  .box__sub {
    width: 115px;
    bottom: -13px;
    left: 22px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .box__sub--big {
    width: 145px;
    left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .box {
    margin-bottom: 58px;
    padding: 19px 5px;
    padding-top: 14px;
  }

  .box__sub {
    bottom: -15px;
    left: 21px;
    background-color: #f2f2f2;
  }

  .box__sub--big {
    left: 5px;
  }
}
