.button {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 5px 11px 5px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: normal;
  vertical-align: middle;
  color: #ffffff;
  background-color: $main-color;
  border: none;
}

.button:hover,
.button:focus {
 background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--promo {
  margin-top: -1px;
  font-size: 14px;
  line-height: 18px;
}

.button--showall {
  color: #444444;
  background-color: #f2f2f2;
}

.button--showall:hover,
.button--showall:focus {
  background-color: #ebebeb;
}

.button--showall:active {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .button {
    width: 250px;
    margin-bottom: 40px;
  }

  .button--promo {
    width: 245px;
    height: 52px;
    margin-left: 90px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 5px 15px 5px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 170px;
  }

  .button--promo {
    width: 245px;
  }
}
