.contacts {
  background-color: #ffffff;
}

.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__title {
  width: 125px;
  margin: 25px 0;
  padding: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
}

.contacts__adress {
  width: 140px;
  margin: 25px 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}
