.form {
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 20px;
  }
}
