.logo {
  margin-left: 20px;
}

.logo--no-text {
  margin: 0;
}

.logo__img  {
  width: 190px;
  height: 40px;
}

// @media (min-width: $tablet-width) {
//   .logo__img {
//     width: 174px;
//     height: 59px;
//     background: url(../../img/logo-tablet.svg) no-repeat;
//   }
// }

