.map {
  width: 100vw;
  height: 360px;
  background: url(../img/bg-map-mobile@1x.jpg) center no-repeat;
  background-size: cover;
}

@media (min-resolution: $retina-dpi),
(min-resolution: $retina-dppx) {
  .map {
    background-image: url(../img/bg-map-mobile@2x.jpg);
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 395px;
    background-image: url(../img/bg-map-tablet@1x.jpg);
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    .map {
      background-image: url(../img/bg-map-tablet@2x.jpg);
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
    background-image: url(../img/bg-map-desktop@1x.jpg);
  }

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    .map {
      background-image: url(../img/bg-map-desktop@2x.jpg);
    }
  }
}
