.present {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 289px;
  margin: 40px 0 35px 0;
  padding: 65px 0 40px 0;
  text-align: center;
  background: url(../../img/gift-photo-mobile@1x.jpg) no-repeat;
}

.present__text {
  width: 165px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.present__gift {
  width: 56px;
  height: 61px;
  background: url(../../img/icon-gift.svg) no-repeat;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .present {
    flex-direction: row;
    align-items: center;
    width: 708px;
    height: 200px;
    margin-bottom: 75px;
    padding: 0 125px 0 90px;
    background-size: cover;
  }

  .present__gift {
    margin: 0;
  }

  .present__text {
    width: 165px;
    text-align: left;
  }
}

@media (min-width:$desktop-width) {
  .present {
    width: 245px;
    height: 289px;
    margin: 0;
  }
}
