.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0 20px 25px 20px;
  border-top: 1px solid #ededed;
}

.product__item:last-child {
  border-bottom: 1px solid #ededed;
}

.product__info {
  width: 140px;
}

.product__bold-text {
  margin: 25px 0 10px 0;
  padding: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
}

.product__table {
  width: 140px;
  margin: 15px 0;
  padding: 0;
}

.product__row {
  margin: 0;
  padding: 0;
}

.product__row .product__td:last-child {
  margin-left: auto;
  text-align: right;
}
