.program__inv{
  width: 260px;
  font-size: 14px;
  color: #111111;
}

.program__form {
  margin: 0;
  padding: 0;
}

.program__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.program__fieldset--border {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.program__list {
  @include list-reset;
  padding: 25px 0;
}

.program__item:not(:last-child) {
  margin-bottom: 13px;
}

.program__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.program__input {
  flex-grow: 1;
  margin: 0;
  margin-left: 15px;
  padding: 12px 15px;
  font: inherit;
  text-transform: inherit;
  color: #444444;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.program__input:hover {
 border-color: #cdcdcd;
}

.program__input:focus {
  border-width: 2px;
  border-color: #444444;
}

.program__input:invalid {
  border-width: 2px;
  border-color: #ff8282;
}

.program__input--email {
  padding-right: 35px;
}

.program__mail {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 18px;
  height: 15px;
}

.program__input:focus + .program__mail path,
.program__input:focus + .program__phone path {
  fill: $main-color;
}

.program__input:invalid + .program__mail path,
.program__input:invalid + .program__phone path {
  fill: #ff8282;
}

.program__mail {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 18px;
  height: 15px;
}

.program__phone {
  position: absolute;
  top: 13px;
  right: 14px;
  width: 21px;
  height: 21px;
}

.program__comment {
  width: 280px;
  height: 150px;
  margin: 0;
  padding: 15px;
  padding-right: 10px;
  font: inherit;
  color: #444444;
  text-transform: inherit;
  border: 1px solid #e6e6e6;
  resize: none;
}

.program__comment:hover {
  border-color: #cdcdcd;
 }

 .program__comment:focus {
   border-width: 2px;
   border-color: #444444;
 }

.program__hint {
  margin: 0;
  margin-bottom: 33px;
  margin-top: 22px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .program__inv {
    width: 330px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .program__list {
    margin-left: 40px;
  }

  .program__list--no-pad {
    padding: 0;
    margin-bottom: -30px;
  }

  .program__item:not(:last-child) {
    margin-bottom: 13px;
  }

  .program__label {
    margin-bottom: 20px;
    padding: 0 39px 0 40px;
  }

  .program__label--last {
    margin-bottom: 70px;
  }

  .program__input {
    font-size: inherit;
    line-height: inherit;
  }

  .program__list--flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program__list--flex .program__item {
    width: 50%;
    margin-bottom: 30px;
  }

  .program__fieldset {
    margin-bottom: 70px;
  }

  .program__fieldset--border {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 70px;
    border: 1px solid #e6e6e6;
  }

  .program__mail {
    right: 60px;
  }

  .program__phone {
    right: 60px;
  }

  .program__comment {
    width: 630px;
    margin: 0;
    margin-left: 40px;
  }

  .program__wrap1 {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 70px;
  }

  .program .button {
    width: 283px;
    margin: 0;
    padding: 17px 5px 15px 5px;
    font-size: 20px
  }

  .program__hint {
    margin: 0;
    margin-left: 55px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program__inv {
    margin-left: 0;
  }

  .program__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .program__label {
    width: 570px;
    padding: 0;
  }

  .program__label--last {
    margin-bottom: 0;
  }

  .program__fieldset--border {
    width: 570px;
    margin: 0;
  }

  .program__fieldset--no-marg {
    margin-bottom: 0;
  }

  .program__fieldset--flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .program__contacts {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    // width: 100%;
  }

  .program__fieldset--flex .program__label {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .program__mail {
    right: 18px;
  }

  .program__phone {
    right: 14px;
  }

  .program__comment {
    width: 100%;
    margin: 0;
  }

  .program__list--flex {
    width: 1130px;
    margin-left: 0;
  }

  .program__list--flex .program__item {
    width: auto;
  }

  .program__wrap1 {
    margin-left: 0;
    margin-bottom: 80px;
  }

  .program .button {
    width: 568px;
  }

  .program__hint {
    margin-left: 80px;
  }
}
