.promo {
  min-height: 505px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background: url(../../img/index-background-mobile@1x.jpg)center 0 no-repeat;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .promo {
    background-image: url(../../img/index-background-mobile@2x.jpg);
    background-size: 320px 305px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media  (min-width: $tablet-width) {
  .promo {
    min-height: 860px;
    background: transparent;
  }

  .promo .container {
    display: flex;
    flex-direction: column;
  }

  .promo__title {
    width: 420px;
    margin-left: 90px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .promo__slogan {
    margin-left: 90px;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .promo__picture {
    margin-top: -60px;
    order: 1;
    z-index: -1;
  }

  .promo__img {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    min-height: 635px;
  }
  .promo__title {
    margin-top: 50px;
  }

  .promo__img {
    width: 552px;
    height: 500px;
}

  .promo__picture {
    position: absolute;
    bottom: 115px;
    left: 50%;
    margin-left: -165px;
  }
}



